%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.


{deps, [{jsx, {git,"https://github.com/talentdeficit/jsx",
                   {tag,"v2.8.3"}}},
        {folsom, {git, "https://github.com/boundary/folsom",
                  {branch, "master"}}},
        {cowboy, {git,  "https://github.com/extend/cowboy.git",
                 {tag,     "2.13.0"}}}
]}.

{profiles, [
            {test, [{deps, [
                            {meck, {git, "https://github.com/eproxus/meck.git",
                                          {branch, "master"}}},
                            {cowboy, {git,  "https://github.com/extend/cowboy.git",
                                   {tag,     "2.13.0"}}}
                           ]
                    },
                    {relx, [{release, {folsom_cowboy, "0.1.0"},
                             [
                              folsom_cowboy,
                              cowboy,
                              cowlib,
                              jsx,
                              ranch
                             ]},

                            {dev_mode, true},
                            {include_erts, false},
                            {extended_start_script, true}]
                    }
                   ]
            }
           ]
}.
